@import "variables";

#faq-title {
  color: $coral-red;
  position: fixed;
  font-size: 8vmin;
  left: 22vw;
  top: 10vh;
}


#faq-content {
  margin-left: 80vh;
  margin-top: 20vh;
  text-align: left;
}

.question-answer {
  width: 30vw;
  margin-bottom: 3vh;
}

.question {
  font-weight: $bold-font;
  color: $coral-red;
  margin-bottom: 2vh;
  font-size: 2.8vmin;
}

.answer {
  font-weight: $light-font;
  font-size: 1.9vmin;
  color: black;
}

.answer a {
  color: $dark-grey;
  text-decoration: none;
}

.email-us {
  width: 30vw;
  font-weight: $light-font;
  color: $light-red;
  font-size: 2.8vmin;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.email-us a {
  text-decoration: none;
  color: $light-red;
}

