@import "variables";

.page-title {
  color: $coral-red;
  position: fixed;
  font-size: 8vmin;
  left: 22vw;
  top: 10vh;
}


.page-content {
  margin-left: 82vh;
  margin-top: 20vh;
  text-align: left;
}

.question-answer {
  width: 30vw;
  margin-bottom: 3vh;
}

.question {
  font-weight: $bold-font;
  color: $coral-red;
  margin-bottom: 2vh;
  font-size: 2.8vmin;
}

.answer {
  font-weight: $light-font;
  font-size: 1.9vmin;
  color: black;
}

.answer a {
  color: $light-red;
  text-decoration: underline;
}

.email-us {
  width: 30vw;
  font-weight: $light-font;
  color: $light-red;
  font-size: 2.8vmin;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.email-us a {
  text-decoration: underline;
  color: $light-red;
}

#tech-description {
  font-weight: $light-font;
  width: 32vw;
  font-size: 2vmin;
  margin-bottom: 22vh;
}




