$coral-red: #f05158;
$background-grey: #efefef;
$dark-grey: #939393;
$hover-grey: #dedddd;
$light-grey: #ababab;
$border-grey: #d9d9d9;
$dark-red: #d2545d;
$light-red: #F08080;
$body-font: 'Rubik', sans-serif;
$light-font: 300;
$medium-font: 500;
$bold-font: 700;
$card-width: 220px;
$card-height: 210px;
